# Python caches
/pycache/*
*.py[cod]
*$py.class
*.pyc

# --- Frontend ---
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env
frontend/*.log
frontend/venv/

# --- Backend ---
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/*.pyc
backend/.env
backend/app/routes/__pycache__/
backend/app/services/__pycache__/
backend/app/models/__pycache__/
backend/app/models/__pycache__/schemas.cpython-311.pyc

# --- General ---
.env
*.env
.DS_Store
.env.local
