fastapi
uvicorn[standard]
pydantic
pytesseract
pillow
python-multipart   # to handle file uploads
supabase           # Python client if you want backend→Supabase connection
dotenv
requests
google-genai